/* Reset some default styles */
html {
  background-color:rgb(255, 255, 255);
  /* background-image:
  radial-gradient(white, rgba(125, 138, 204, 0.2) 2px, transparent 40px),
  radial-gradient(white, rgba(85, 201, 47, 0.15) 1px, transparent 30px),
  radial-gradient(white, rgba(226, 68, 68, 0.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px; */
}

body {
/* border: 30px solid #DDE6ED; */
margin: 0 auto;
width: 1000px;
/* background-color: #4F709C; */
}
/* to make it responsive */
@media (max-width: 1000px){
  body {
    /* width: auto; */
    width: 1000px;
    }
}

/* Style the header and navigation */
.navbar {
  position: fixed;
  width: 1000px;
  background-color: #66BFBF;
  z-index: 999;
}

.dropdown-toggle {
  font-size: 15px;
}

/* .dropdown-toggle:hover {
  color: #66BFBF;
} */

li {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.side{
  margin-top: 60px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  position:fixed;
  /* box-shadow: 2px #4F709C; */
  /* background-color: #ADC4CE; */
  border-radius: 4px;
  padding: 10px 20px;
}

.sidebar{
  /* text-align: center; */
  /* margin-left: 25px; */
  color: #000000;
  /* margin-top: 30pt; */
  /* border-radius: 14px;
  border: 2px solid #f5efe7a8; */
}

.sidebar p{
  /* text-align: center; */
  /* margin-left: 25px; */
  color: #0000006f;
  /* margin-top: 30pt; */
  /* border-radius: 14px;
  border: 2px solid #f5efe7a8; */
}

.sidenav_, .sidenav{
  /* text-align: center; */
  /* margin-left: 25px; */
  margin-top: 0pt;
  list-style: none;
  /* border-radius: 14px;
  border: 2px solid #f5efe7a8; */
}

/* side navigation of the index.html */
.sidenav_ a{  
  color: #000000;
  text-decoration: none;
}

.pl {
  margin-bottom: 8px;
}

.pl a{
  color: #0000006f;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

/* .active {
  background-color: #ADC4CE;
  border-radius: 4px;
} */

.active a{
  color: #000000;
  /* border-bottom: 2px solid #000000; */
}

.fa {
  /* padding: 2px; */
  padding-right: 30px;
  font-size: 30px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin: 0px;
}

.fa:hover {
    opacity: 0.5;
    /* background-color: #000000; */
    /* color: #ffffff; */
}

.fa-facebook {
  background: #ffffff;
  color: rgb(0, 0, 0);
  /* background-color: #ADC4CE; */
}

.fa-instagram {
  background: #ffffff;
  color: rgb(0, 0, 0);
  /* background-color: #ADC4CE; */
}

.fa-google {
  background: #ffffff;
  color: rgb(0, 0, 0); 
  /* background-color: #ADC4CE; */
}

.main {
  margin-top: 55px;
  margin-bottom: 100px;
  /* margin-left: 220px; */
  width: 800px;
  float: right;
  /* padding: 50px 50px; */
  color: #000000;
  vertical-align: top;
}

.text {
  /* background-color: #D8C4B6; */
  /* border-radius: 9%; */
  padding: 5pt 20pt;
  /* border-radius: 4px; */
  /* box-shadow: 2px 2px 2px 2px #4F709C; */
  /* margin-bottom: 0px; */
  /* text-align: left; */
}

a {
text-decoration: none;
}

h1 {
font-size: 28px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}

h2 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

p {
font-size: 18px;
line-height: 1.5;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.question {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  /* font-style: italic; */
  /* margin-top: 40px; */
  }

.signature {
  font-size: 12px;
  line-height: 1;
  font-style: oblique;
  text-indent: 1.5em;
  text-align: center;
}

.img li{
  margin-top: 20px;
}

img {
  margin: 0 10%;
  width: 80%;
}

/* Style the footer */
footer {
margin-top: 50px;
background-color: #ffffff;
padding: 10px;
color: #00000079;
text-align: center;
clear: both;
position: fixed;
width: 1000px;
bottom: 0;
/* border: 1px solid #000000; */
}
