/* Reset some default styles */
html {
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

body {
/* border: 30px solid #DDE6ED; */
margin: 0 auto;
width: 1000px;
}
/* to make it responsive */
@media (max-width: 1000px){
  body {
    /* width: auto; */
    width: 1000px;
    }
}

/* Style the header and navigation */
.navigator {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 10px;
  padding-left: 50px;
  position: fixed;
  width: 940px;
  /* border: 1px solid #4F709C; */
  flex-wrap: nowrap;
}

.top {
  padding: 10px 0;
}

.first a {
   color:rgb(255, 255, 255);
   font-size: large;
} 

.second a {
  color:rgb(255, 255, 255);
  font-size: small;
} 
 
.first a:hover {
  background-color: #4F709C;
  color: #ffffff;
  padding: 3px;
  border-radius: 4px;
}

.box{
  margin-left: -3px;
  background:#4F709C;
  display: none; /* hide the second list */
  padding: 3px;
  list-style: none;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #4F709C;
  border-radius: 4px;
}

.first:hover .box{
  display: flex;
  flex-direction: column; 
  gap: 5px;
}

.second a:hover {
  background-color: #d8c4b600;
  color: #000000;
  padding: 0;
}

li {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Style the main content section */
main {
padding: 70px 7% 100px 7%;
color: #213555;
background-color: #f5efe7a8;
}

.container {
  display: flex;
  gap: 20px;
}
.text {
  background-color: #D8C4B6;
  /* border-radius: 9%; */
  padding: 5pt 20pt;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #4F709C;
  margin-bottom: 50px;
  text-align: left;
  width: 600px;
}
.img {
  padding-top: 5pt;
  padding-bottom: 5pt;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #4F709C;
  margin-bottom: 50px;
  width: 200px;
}

a {
text-decoration: none;
}

h1 {
font-size: 24px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

p {
font-size: 18px;
line-height: 1.5;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.question {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  /* font-style: italic; */
  margin-top: 40px;
  }

.signature {
  font-size: 12px;
  line-height: 1;
  font-style: oblique;
  text-indent: 1.5em;
}

.img li{
  margin-top: 10px;
  box-shadow: 1px 0px 0px 1px #4F709C;
}

img {
  margin: 0 10%;
  width: 80%;
}

/* Style the footer */
footer {
background-color: #000000;
padding: 10px;
color: #ffffff;
text-align: center;
}
