<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>default</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header class="navigator">

    <li class="first home"><a href="https://haijiangyan.github.io/"><strong>➲HOME</strong></a></li>

    <li class="first">
      <a href="#">BLOGS</a>
        <ul class="box">
          <li class="second"><a href="/assets/html/hamiltonian MCMC.html">MCMC</a></li>
          <li class="second"><a href="/assets/html/VAE.html">VAE</a></li>
          <li class="second"><a href="#">GAN</a></li>
          <li class="second"><a href="#">MDS</a></li>
          <li class="second"><a href="/assets/html/Bayes.html">Bayes</a></li>
        </ul>
    </li>

    <li class="first">
      <a href="#">RESEARCH</a>
        <ul class="box">
          <li class="second"><a href="/assets/html/VGM.html">MCMCP</a></li>
          <li class="second"><a href="/assets/html/VGM.html">Sampling</a></li>
          <li class="second"><a href="/assets/html/HLDL.html">AI domain</a></li>
        </ul>
    </li>

    <li class="first">
      <a href="#">THOUGHTS</a>
        <ul class="box">
          <li class="second"><a href="#">updating...</a></li>
        </ul>
    </li>

    <li class="first">
      <a href="#">CONTACT</a>
        <ul class="box">
          <li class="second"><a href="#">updating...</a></li>
        </ul>
    </li>

    <li class="first">
      <a href="https://github.com/HaijiangYan/HaijiangYan.github.io">GITHUB</a>
    </li>

    <li class="first">
      <a href="#">USEFUL-LINKS</a>
    </li>
          
  </header>
<hr style="opacity: 0.4;">
<br><br>
<hr style="opacity: 0.4;">
<!-- <br> -->
  <div class="side">

    <div class="sidebar">
      <h2 style="font-size: 24pt; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">HAIJIANG YAN (Mr.)</h2>
      <p style="font-size: 10pt;">ENTJ | web developer | deeplearning tuner | steam gamer | rookie kaggler | Bayes | full scholarship holder | dream of starting a business and raising a cat</p>
    </div>

    <hr style="opacity: 0.4;">

    <div class="sidenav">

      <p style="font-weight: 400;">Blogs</p>
      <p style="font-weight: 400;">Research</p>
      <p style="font-weight: 400;">Thoughts</p>
      <p style="font-weight: 400;">Contact</p>
      <p style="font-weight: 400;"><a href="https://sampling.warwick.ac.uk/">Our Lab</a></p>

      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-google"></a>

    </div>

    <div class="time">

      <p> GMT <span id="time" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> </span>

    </div>

  </div>
  
</body>
</html>

<script>

function refreshTime() {
  const timeDisplay = document.getElementById("time");
  const dateString = new Date().toLocaleString();
  const formattedString = dateString.replace(", ", "-");
  timeDisplay.textContent = formattedString;
}
  setInterval(refreshTime, 1000);
</script>
