<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>default</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header class="navigator">

    <li class="first home"><a href="https://haijiangyan.github.io/"><strong>➲HOME</strong></a></li>

    <li class="first">
      <a href="#">BLOGS</a>
        <ul class="box">
          <li class="second"><a href="/assets/html/hamiltonian MCMC.html">MCMC</a></li>
          <li class="second"><a href="/assets/html/VAE.html">VAE</a></li>
          <li class="second"><a href="#">GAN</a></li>
          <li class="second"><a href="#">MDS</a></li>
          <li class="second"><a href="/assets/html/Bayes.html">Bayes</a></li>
        </ul>
    </li>

    <li class="first">
      <a href="#">RESEARCH</a>
        <ul class="box">
          <li class="second"><a href="/assets/html/VGM.html">MCMCP</a></li>
          <li class="second"><a href="/assets/html/VGM.html">Sampling</a></li>
          <li class="second"><a href="/assets/html/HLDL.html">AI domain</a></li>
        </ul>
    </li>

    <li class="first">
      <a href="#">THOUGHTS</a>
        <ul class="box">
          <li class="second"><a href="#">updating...</a></li>
        </ul>
    </li>

    <li class="first">
      <a href="#">CONTACT</a>
        <ul class="box">
          <li class="second"><a href="#">updating...</a></li>
        </ul>
    </li>

    <li class="first">
      <a href="https://github.com/HaijiangYan/HaijiangYan.github.io">GITHUB</a>
    </li>

    <li class="first">
      <a href="#">USEFUL-LINKS</a>
    </li>
          
  </header>
<hr style="opacity: 0.4;">
<br><br>
<hr style="opacity: 0.4;">
<!-- <br> -->
  
</body>
</html>

<script>

function refreshTime() {
  const timeDisplay = document.getElementById("time");
  const dateString = new Date().toLocaleString();
  const formattedString = dateString.replace(", ", "-");
  timeDisplay.textContent = formattedString;
}
  setInterval(refreshTime, 1000);
</script>
